footer {
  background-color: #2c323f;
  padding-bottom: 10px;
}
.copyright {
  text-align: center;
}

.sub-footer {
  text-align: center;
  color: lightgrey;
  font-size: 0.9rem;
  margin-top: -0.7rem;
}
